
input {
    width: 60px;
}

button {
    display: inline-block;
    width: 120px;
    font: 600 13px system-ui;
}

div.about {
    float: right;
}

.title {
    font-weight: bold;
    border-bottom: 1px solid #111;
    text-align: center;
    line-height: 200%
}

#title {
    font: 600 22px system-ui;
}


input.chkDiv {
    width: auto;
}

label.chkDiv {
    display: inline-block;
    padding: 2px 13px 2px 2px;
}

div.divSelect button{
    width: 66px;
}

#loading {
    color: #FF6666;
    text-align: center;
    font: 600 20px system-ui;
}

span.hotKey {
    text-decoration: underline;
}